<div id='wrapper' style='position:absolute;left:0px;top:0px;width:100%;height:100%;'>
<canvas id='canvas' width='3000' height='2000' style='background:black'></canvas>
<div>
   
script(type='text/javascript', src="/socket.io/socket.io.js")
script(type='text/javascript', src="/javascripts/bison.js")
script(type='text/javascript', src='/javascripts/client.js')